nav {
  display: flex;
  align-content: center;
  background-color: black;
  height: 5rem;
}

.home, .search, .menu {
  padding: 1rem;
  flex: none;
  align-self: center;
  color: white;
}

.search input {
  width: 15rem;
  border: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}

.search button {
  color: black;
  border: 0;
  border-radius: 0 0.3rem 0.3rem 0;
}

.menu {
  margin-left: auto;
}

.navigation-link {
  color: white;
  text-decoration: none;
  display:flex;
  align-items: center;
}

.navigation-link svg {
  margin-right: 0.3rem;
}
